body {
  font-size: 2em;
}

p {
  font-family: monospace;
}

h4.scoreboardTitle {
  display: inline;
  color: white;
  margin-right: 200px;
}

h1#mainTitle {
  font-size: 3em;
  font-family: 'Verdana', sans-serif;
}

input.playerBtn {
  margin-right: 50px;
  margin-left: 200px;
}
