<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rock Paper Scissors</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" />

    <!-- Styling -->
    <link href="./static/main.css" rel="stylesheet" />
  </head>

  <body>
    <main class="container-fluid">
      <section class="row">
        <aside class="col-md-12 navbar navbar-default" id="scoreboard">
          <h4 class="scoreboardTitle navbar-brand">
            Wins: {{wins}}
          </h4>
          <h4 class="scoreboardTitle navbar-brand">
            Losses: {{losses}}
          </h4>
          <h4 class="scoreboardTitle navbar-brand">
            Ties: {{ties}}
          </h4>
        </aside>
      </section>

      <section class="row">
        <article class="col-md-12">
          <h1 class="text-center" id="mainTitle">
            Rock Paper Scissors
          </h1>
          <div class="page-header">
            {%if plays > 0%}
            <p class="text-center">
              The computer picked {{computer}} and you picked {{user}}, you {{result}}!
            </p>
            {%endif%}
          </div>
        </article>
      </section>

      <section class="row">
        <article class="col-md-12">
          <form action="/process_play" method="post" id="playerInputForm">
            <input type="submit" class="btn btn-primary btn-lg playerBtn" name="user_choice" value="rock" />
            <input type="submit" class="btn btn-primary btn-lg playerBtn" name="user_choice" value="paper" />
            <input type="submit" class="btn btn-primary btn-lg playerBtn" name="user_choice" value="scissors" />
          </form>
        </article>
      </section>
    </main>

    <!-- Bootstrap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
